.content
{
    border: 0.5px solid rgb(231, 220, 220);
    border-radius: 1rem;
    color: #e72929;
}

img
{
    border-radius: 1rem;
}

.content:hover
{
    opacity: .5;
    cursor: pointer;
}

.footer
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.price
{
    font-size: 1rem;
    color: #242424;
}