<section class="overflow-hidden ">
    <app-search class=""></app-search>
    <app-tags></app-tags>

    <div class="container ">
        <div *ngIf="isEmpty" class="text-center "> 
            <p>no foods found !</p>
        </div>
        <div class="row gy-3 justify-content-center">
            <div *ngFor="let food of foods" class="col-md-3 ">
                <a routerLink="/foodpage/{{food.id}}">
                    <div class="content">
                        <div class="img">
                            <img class="w-100" src="{{food.imgSrc}}" alt="food image">
                        </div>
                        <div class="body px-3 mt-2">
                            <div class="d-flex justify-content-between">
                                <h5>{{food.name}}</h5>
                                <h4 *ngIf="food.favorite">♥</h4>
                            </div>
                            <div class="{{food.favorite?'':'notFavorite'}}">
                                <star-rating [value]="food.star" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="24px" [readonly]="true"></star-rating>
                            </div>
                            <div class="  footer">
                                <div class="tags">
                                    <span *ngFor="let tag of food.tags" class="text-muted">{{tag}}</span>
                                </div>
                                <div class="">🕞 {{food.cookTime}} </div>
                            </div>
                            <div class="price">{{food.price|currency}}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
