.ff
{
    border-radius: 20rem;
    border: 2px solid black;
    width: 40%;
}

input
{
    border: none;
    border-radius: 20rem 0 0 20rem;
    background-color: #f1f1f1;
}

button
{
    border-radius: 0 20rem 20rem 0;
    background-color: #e72929;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
 {
    .ff
    {
        width: 90%;
    }
 }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px)
{
    .ff
    {
        width: 80%;
    }
}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .ff
    {
        width:80%;
    }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}